<table>
  <tbody>
  <tr>
    <td>Crew</td>
    <td>
      <div class="{{if player.isWinner 'chip'}}">
        {{player.crew}}
      </div>
    </td>
  </tr>
  <tr>
    <td>Cargo capacity</td>
    <td>{{player.cargo_capacity}}</td>
  </tr>
  </tbody>
</table>
<p>
  "{{player.name}}" is a {{player.model}}
  {{#if player.MGLT}}
    It is capable of cruising at the staggering {{player.MGLT}} megalights/h
  {{/if}}
  {{#if player.cargo_capacity}}
    and is able to carry {{player.cargo_capacity}} metric tons of cargo.
  {{/if}}
  {{#if player.pilots}}
    It is currently being operated by
    {{#each player.pilots as |pilot|}}
      {{pilot.name}},
    {{/each}}
    it's solid.
  {{/if}}
</p>
