<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        {{#if people}}
          <img src="./assets/images/greedo.jpg">
        {{else}}
          <img src="./assets/images/starship.jpg">
        {{/if}}
        <span class="card-title">{{name}}</span>
      </div>
      <div class="card-content">
        <p>{{name}} is a {{homeworld.name}}an native and rides a {{vehicle.name}}. He's starred in numerous movies, including
          {{#each people.films as |film|}}
            {{film.name}}
          {{/each}}
        </p>
      </div>
    </div>
  </div>
</div>