<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        {{#if peopleMatch}}
          <img src="./assets/images/greedo.jpg">
        {{else}}
          <img src="./assets/images/starship.jpg">
        {{/if}}
        <span class="card-title">{{player.name}}</span>
      </div>
      <div class="card-content">
        {{#if peopleMatch}}
          <p>
            {{player.name}} is a {{player.homeworld.name}}an native and likes rides from
            {{#each player.vehicles as |vehicle|}}
              "{{vehicle.manufacturer}}",
            {{/each}}.
            He's starred in numerous movies, amongst which:
            {{#each player.films as |film|}}
              "{{film.title}}",
            {{/each}}
          </p>
        {{else}}
          <p>
            {{starship.name}}
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</div>
