<div class="counter">{{player.score}}</div>
<div class="row">
  <div class="col s12">
    <div class="card">
      <span class="card-title">
        {{player.name}}
      </span>
      <div class="card-image">
        {{#if peopleMatch}}
          <img src="./assets/images/greedo.jpg">
        {{else}}
          <img src="./assets/images/starship.jpg">
        {{/if}}
      </div>
      <div class="card-content">
        {{#if peopleMatch}}
          <p>
            {{player.name}} is a {{player.homeworld.name}}an native of
            {{#each player.species as |species|}}
              {{species.name}}
            {{/each}} heritage.
            He's starred in numerous movies, amongst which:
            {{#each player.films as |film|}}
              "{{film.title}}",
            {{/each}} plus, he likes rides from
            {{#each player.vehicles as |vehicle|}}
              "{{vehicle.manufacturer}}",
            {{/each}}
          </p>
          <table>
            <tbody>
            <tr>
              <td>Mass</td>
              <td>{{player.mass}}</td>
            </tr>
            <tr>
              <td>Height</td>
              <td>{{player.height}}</td>
            </tr>
            </tbody>
          </table>
        {{else}}
          {{debugger}}

          <p>
            "{{player.name}}" is a {{player.model}}, capable of cruising at the staggering {{player.MGLT}} megalights/h.
          </p>
          <table>
            <tbody>
            <tr>
              <td>Crew</td>
              <td>{{player.crew}}</td>
            </tr>
            <tr>
              <td>Cargo capacity</td>
              <td>{{player.cargoCapacity}}</td>
            </tr>
            </tbody>
          </table>
        {{/if}}
      </div>
    </div>
  </div>
</div>
